*{
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-top: 5em;
}

a{
    text-decoration: none;
}

p{
    padding-bottom: 0.2em;
}

h1{
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    font-size:35px;
}

h3{
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
    font-size: 30px;
}

li{
    display: inline-block;
    text-decoration: none;
}

section{
    width: 80%;
    margin: 0 auto;
}

section h1{
    padding-bottom: 1em;
}

.border{
    margin: 5.5em 0;
    border-top: 2px solid #d5d5d5;
}

/*--MEDIA QUERIES--*/

/*fixing portfolio 3 column to 1 column*/
@media screen and (max-width: 1100px){
    body .portfolio{
        width: 80%;
        display:block;
        margin: 0 auto;
    }

    .portfolio .one-of-three{
        width: 100%;
        margin: 75px 0;
        height: 400px;
    }
}

/*nav li margin smaller*/
@media screen and (max-width: 925px){
    nav .nav-links li{
        margin: 0 1em;
    }
    
}

@media screen and (max-width: 800px){

    /*nav*/
    body nav{
        padding: 1em 0; 
    }
    body nav ul{
        flex-direction: column;
        margin: 0;
    }

    body nav .logo{
        margin-bottom: 15px;
    }

    /*slideshow*/
    body #gallery .cycle-slideshow{
        width: 80%;
    }

    #gallery .slideshow .cycle-prev{
        width: 10%;
    }

    #gallery .slideshow .cycle-next{
        width: 10%;
    }

    .hidden-p{
        display: none;
    }
}



/*---NAVIGATION---*/


nav{
    background-color: #213561;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2em;
    z-index: 999;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 4em;
    margin-right: 8em;
}

nav .dropdown-button{
    display: hidden;
}

.nav-links{
    flex: 1;
}

.nav-links li{
    display: flex;
    margin: 0 2em;
}

nav li{
    text-decoration: none;
    display: inline-block;
}

nav li a{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav li a:hover{
    color: white;
}

.active{
    color: white;
}

nav .logo{
    flex: 5;
}

nav .logo a{
    color: #B4CAFF;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    font-size: large;
}

nav a, nav a:link{
    color: #B4CAFF;
}

/*---HEADER---*/

#header{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url('images/hero-image.png');
    height: 33vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    color: white;
}

#header h1{
    font-size: 50px;
}

#header .hero-section{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#header .welcome{
    width: 50%;
}

/*---GALLERY---*/

#gallery{
    padding-top: 5.5em;
}

/*--slideshow next/prev--*/
#gallery .cycle-prev,.cycle-next{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
    z-index: 700;
}

#gallery .slideshow .cycle-prev i, .cycle-next i{
    font-size: 3em;
    color: #213561;
    cursor: pointer;
    padding: 0.5em;
}

#gallery .slideshow .cycle-next{
    right: 0;
    justify-content: flex-start;
}

/*--slideshow pager--*/

.cycle-pager { 
    width: 100%; 
    display: flex;
    justify-content: center;
}
.cycle-pager span { 
    font-size: 2em; 
    color: #d5d5d5; 
    cursor: pointer;
    margin: 0.1em; 

}
.cycle-pager span.cycle-pager-active { 
    color: #213561;
}

.cycle-pager > * {
    cursor: pointer;
}

/*--slideshow--*/

#gallery .slideshow{
    position: relative;
}

#gallery .cycle-slideshow{
    overflow: hidden;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

#gallery .cycle-slideshow img{
    width: 100%;
}

#gallery .cycle-slideshow .cycle-overlay{
   position: absolute;
   bottom: 0;
   width: 100%;
   z-index: 600;
   background: #213561;
   color: white;
   padding: 15px;
   opacity: 0.8;
}

#gallery .cycle-slideshow .cycle-overlay .overlay-title{
    font-style: italic;
}

#gallery .cycle-paused:after{
    content: 'Paused';
    color: white;
    background: #213561;
    opacity: 0.5;
    padding: 10px;
    z-index: 500;
    position: absolute;
    margin: 10px;
    top: 10px;
    right: 10px;
    border-radius: 10px;   
}


/*---PORTFOLIO---*/

.portfolio{
    color: black;
    display: flex;
    justify-content: space-between;
}

.one-of-three{
    width: 30%;
    justify-content: center;
    background-image: url(images/art-picture.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay{
    padding: 1em;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    top: 50px;
    height: 40px;
    overflow: hidden;
    -webkit-transition: all 1s ease-in-out .2s;
    -moz-transition: all 1s ease-in-out .2s;
    -o-transition: all 1s ease-in-out .2s;
    -ms-transition: all 1s ease-in-out .2s;
    transition: all 1s ease-in-out .2s;
}

.overlay:hover{
    height: 500px;
    top: 0;
}

.overlay button{
    padding: 1em;
    border: 1px solid #213561;
    margin: 1em 0;
    background-color: white;
}

#portfolio .one-of-three h3{
    padding-bottom: 0.5em;
}

#portfolio .attention{
    color: skyblue;
}

/*---ABOUT---*/
.about{
    display: flex;
}

.text-box{
    width: 80%;
    flex-grow: 8;
    order: 1;
}

.about-person{
    width: 20%;
    flex-grow: 5;
    order: 0;
    text-align: center;
}

.about-person i{
    font-size: 4.5em;
    color: #213561;
}

/*---CONTACT---*/
#contact li{
    display: block;
}

#contact{
    margin-bottom: 3em;
}

/*---FOOTER---*/

footer{
    background-color: #213561;
    bottom: 0;
    padding: 2em;
}

footer .footer-links,.social-links, .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

footer .footer-links{
    width: 100%;
}

footer a{
    color: white;
}
